{% extends "reviews/base.html" %}
{% load repl %}
{% block content %}
<h1>Welcome to VGReviews</h1>

A place where anyone can review a game and have it rated, helping you which games are worthy of your money.

<div class="recent-reviews">
  <h2>Most Recent Reviews</h2>
  <table cellpadding='0' cellspacing='0' border='0'>
  {% for review in recent_reviews %}
    <tr>
      <td>{{ review.pub_date }}</td>
      <td><a href="{% url 'reviews:show' review.id %}">{{ review.title }}</a></td>
      <td>{{ review.score }}</td>
    </tr>
  {% endfor %}
  </table>
</div>
<div class="most_liked">
  <h2>Most Liked Reviews</h2>
  <table cellpadding='0' cellspacing='0' border='0'>
  {% for like in most_liked %}
    <tr>
      <td><a href="{% url 'reviews:show' like.review.id %}">{{ like.review.title }}</a></td>
      <td>{{ like.total_likes }}</td>
    </tr>
  {% endfor %}
  </table>
</div>

{% endblock %}
