{% extends "reviews/base.html" %}
{% block content %}
{% load repl %}

<h1>Reviews</h1>
<a href="{% url 'reviews:new' %}">Add Review</a>
<table border=0, cellpadding=5, cellspacing=0>
  <tr>
    <th>&nbsp;</th>
    <th>Game</th>
    <th>Score</th>
    <th>Likes</th>
    <th>Category</th>
    <th>Published Date</th>
    <th>Author</th>
    <th>Actions</th>
  </tr>
{% for review in review_list %}
  <tr>
    <td>
      {% if user == review.author %}
      <button class="btn inactive">Like</button>
      {% else %}
      <form action="{% url 'reviews:like' review.id %}" method="post">{% csrf_token %}
      {% if liked == True %}
        <input type="submit" class="btn active" value="Unlike" />
      {% else %}
        <input type="submit" class="btn active" value="Like" />
      {% endif %}
      </form>
      {% endif %}
    </td>
    <td><a href="{% url 'reviews:show' review.id %}">{{ review.title }}</a></td>
    <td>{{ review.score }}</td>
    <td>
      {% if review.like_set.all|length != 0 %}
        {% for like in review.like_set.all %}
          {{ like.total_likes }}
        {% endfor %}
      {% else %}
        0
      {% endif %}
    </td>
    <td>{{ review.categories.all|join:", "  }}
    </td>
    <td>{{ review.pub_date }}</td>
    <td>{{ review.author }}</td>
    {% if user == review.author %}
    <td><a href="{% url 'reviews:edit' review.id %}">Edit</a> | <a href="{% url 'reviews:delete' review.id %}">Delete</a></td>
    {% endif %}
  </tr>
{% endfor %}
</table>
{% endblock %}
