body{
  font-family: 'Ubuntu', sans-serif;
  font-size: 1em;
  margin: 0;
}

#header {
  margin-top: 28px;
  width: 100%;
  background: #34d2af;
  margin-left: 0;
  padding: 5px 0;
  color: #fff;
}

nav a {
  color:#fff;
}

.container {
  width: 80%;
  margin: auto;
}

.logo {
  display: block;
  float: left;
  font-size: 2.5em;
  font-family: 'play', sans-serif;
  margin-top: -5px;
}
 a {
  text-decoration: none;
  color: #E54E2C;
  transition: color 0.5s ease;
  -webkit-transition: color 0.5s ease;
}

.container a:hover{
  color: #046B54;
}

h1{
  color: #E54E2C;
  font-size: 1.75em;
  font-weight: 400;
}

.welcome {
  color: #ffffff;
  display: inline-block;
  margin: 5px 10px;
  float: right;
}

nav li{
  text-decoration:none;
}

nav {
  margin-left: 25%;
}

.sub-nav li {
    display: list-item !important;
    list-style-type: none;
    margin-left: 20px !important;
    padding: 4px !important;
    text-align: left;
}

.sub-nav {
  display:none;
}
#main {
  width: 80%;
  margin: auto;
}
#main-nav li {
  display:inline-block;
  margin: 0 10px;
  padding: 10px;
}

#main-nav li:hover > ul {
  background-color: #046B54;
  display: block;
  margin: 10px 0;
  padding: 15px 0;
  position: absolute;
  text-align: left;
  width: 125px;
  z-index: 10;
}

#main-nav li:hover > ul li:hover a:hover{
  color: #fff;
}

.guest-action {
  width: 100%;
  display: block;
  background-color: #E54E2C;
  position: absolute;
  top: 0;
  left: 0;
}

.action-btn {
  display: block;
  color: #ffffff;
  padding: 7px;
  text-align: center;
  float: right;
  text-decoration: none;
  margin: 0 10px;
  font-size: 10pt;
}
button, input[type="submit"] {
  border: 0;
  border-radius: 5px;
  padding: 5px;
  width: 50px;
  color: #ffffff;
  transition: background-color 0.5s ease;
  -webkit-transition: background-color 0.5s ease;

}

.active:hover {
  cursor: pointer;
  background-color: #949494
}

.inactive {
  pointer-events: none;
  background-color: #efefef;
}

table {
  text-align: left;
  margin-top: 40px;
}

th {
  background-color: #E54E2C;
  color: #ffffff;
}

td {
  padding:5px 10px;
}
